<div class="card">
  <div class="card-body">
    <div *ngIf="clients$ | async as clients">

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">LastName</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Birthday</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let client of clients.clients; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            {{ client.apellido}}
          </td>
          <td>
            {{ client.nombre}}
          </td>
          <td>
            {{ client.edad}}
          </td>
          <td>
            {{ client.fecha_nac}}
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        Promedio {{average(clients.clients) | number}}
        Derivacion estandar {{standardDeviation(clients.clients) | number}}
      </div>
    
      </div>
      <button type="button" class="btn btn-primary" (click)="clicked = !clicked" data-toggle="button" aria-pressed="false">
        New Client
      </button>
      
      <ng-container *ngIf="clicked">
        <form>
          <div class="form-group">
            <label for="lastanme">LastName</label>
            <input type="text" class="form-control" [(ngModel)]="clientPost.apellido" id="lastanme" name="lastname">
          
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" [(ngModel)]="clientPost.nombre" id="name" name="name">
          </div>
          <div class="form-group">
            <p>Birthday</p>
            <ngb-datepicker id="birthday" #dp name="birthday" [(ngModel)]="dateval" (ngModelChange)="calculateAge($event)" (navigate)="date = $event.next"></ngb-datepicker>
          </div>  
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" [ngModel]="clientPost.edad" class="form-control" id="age" name="age">
          </div>  
          <button type="button" (click)="postClients()" class="btn btn-primary">Add</button>
        </form>
      </ng-container>
  </div>
</div>

